body {
  font-size: 100%;
  line-height: 1.6;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  border-bottom: 0.0625em solid #eee;
  font-size: 2.25em;
  padding-bottom: 0.3em;
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
h2 {
  border-bottom: 0.0625px solid #eee;
  font-size: 1.75em;
  padding-bottom: 0.3em;
  line-height: 1.225;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

blockquote {
  border-left: 4px solid #ddd;
  color: #777;
  padding: 0 1em;
  margin: 0;
}

img {
  max-width: 100%;
}

.author {
  font-style: italic;
  margin-bottom: -1.5em;
}
.author img {
  vertical-align: middle;
  border-radius: 50%;
  float: left;
  margin-right: 0.5em;
}

.content {
  clear: both;
}

.frame {
  max-width: 980px;
  border: 0.0625em solid #ddd;
  border-radius: 0.6875em;
  padding: 0.5em 0.5em 1em 0.5em;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  margin-top: .6em;
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}

a {
  color: #4078c0;
  text-decoration: none;
}

ul {
  padding: 0em;
  padding-left: 1.5em;
  margin: 0em;
  list-style: georgian;
}

ul#index-list {
  padding: 0em;
  margin: 0em;
  list-style: none;
}

pre {
  background-color: #f7f7f7;
  border-radius: 0.1875em;
  font-size: 85%;
  line-height: 1.45;
  padding: 1em;
  overflow: auto;
}

p {
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 2em;
  }

  .author {
    float: right;
    font-style: italic;
    position: relative;
    top: -1em;
    margin-bottom: 0em;
  }
  .author div {
    float: right;
    text-align: right;
  }

  .frame {
    padding-left: 2.8125em;
    padding-right: 2.8125em;
  }

  ul#index-list {
    list-style: georgian;
    margin-left: 1.5em;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: #000;
  }

  .frame {
    background-color: #2b2a33;
    border-color: #9694a7;
  }

  blockquote {
    color: #9694a7;
  }

  a {
    color: #78a0d2;
  }

  h1, h2 {
    border-bottom-color: #9694a7;
  }
}
